{% extends 'base.html.twig' %}

{% block page_content %}
    <ul class="nav nav-tabs nav-fill" data-bs-toggle="tabs" role="tablist">
        {% for profile in profiles %}
        <li class="nav-item" role="presentation">
            <a href="#tabs-{{ profile }}" class="nav-link {{ profile == 'ivan' ? 'active' : '' }}" data-bs-toggle="tab" aria-selected="true" role="tab">{{ profile }}</a>
        </li>
        {% endfor %}
    </ul>

<div class="tab-content">
{% for profile in profiles %}
    <div class="tab-pane {{ profile == 'ivan' ? 'active show' : '' }}" id="tabs-{{ profile }}" role="tabpanel">
    <div class="row row-deck row-cards">
    {% for bot in bots %}
        <div class="col-sm-6 col-lg-3">
            {{ render(controller('App\\Controller\\MainController::botBlock', {title: bot, profile: profile, bot: bot})) }}
        </div>
    {% endfor %}
    </div>
    </div>
{% endfor %}
</div>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script>
        document.querySelectorAll('input[data-url]').forEach(function(checkbox) {
            checkbox.addEventListener('change', function(e) {
                let data = new FormData();
                data.append('value', e.target.checked ? 1 : 0);
                fetch(e.target.dataset.url, {
                    method:'POST',
                    body: data
                })
            });
        });
    </script>
{% endblock %}
